{% extends 'cpanel/_layouts/app.html.twig' %}

{% block title %}Draft{% endblock %}

{% block body %}
    <div class="main-content-container container-fluid">
        <div class="card card-small p-1 mt-4">
            <div class="card-header border-bottom">
                <h6 class="m-0 text-center">{{ draft.title }}</h6>
            </div>
            <div class="card-body">
                <div class="col col-md-4 mx-auto text-center">
                    <img class="img-fluid rounded" src="/cpanel/images/drafts/{{ draft.image }}">
                </div>

                <div class="col col-md-6 mx-auto mt-3">
                    <p class="text-justify devstyle-text-indent">{{ draft.description }}</p>
                </div>

                <div class="col col-md-6 mx-auto border-top pt-3">
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('app_draft_index') }}" class="btn btn-sm btn-outline-secondary"><i class="material-icons">arrow_back</i> {% trans %}Back{% endtrans %}</a>
                        <form action="{{ path('app_draft_complete', {'id': draft.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to complete this item?');">
                            <button type="submit" class="btn btn-sm btn-outline-primary ml-2"><i class="material-icons">done</i> {% trans %}Complete{% endtrans %}</button>
                        </form>
                        <a href="{{ path('app_draft_edit', {'id': draft.id}) }}" class="btn btn-sm btn-outline-primary ml-2"><i class="material-icons">edit</i> {% trans %}Edit{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

