{% extends 'cpanel/_layouts/app.html.twig' %}

{% block title %}Ensemble{% endblock %}

{% block body %}
    <div class="main-content-container container-fluid">
        <div class="card card-small p-1 mt-4">
            <div class="card-header border-bottom">
                <h6 class="m-0 text-center">
                    {% trans %}Group{% endtrans %} "{{ ensemble.title }}"
                </h6>
            </div>
            <div class="card-body">
                <div class="col col-md-6 mx-auto mt-3">
                    <p class="text-justify">{{ ensemble.description }}</p>
                </div>

                <div class="mb-3">
                    <div>
                        <span>{% trans %}Group members{% endtrans %}: </span>
                        {% for p in participants %}
                            <span>
                                <a href="{{ path('app_ensemble_user', {'id': p.user.id, 'ensemble': ensemble.id}) }}">{{ p.user.username }}</a>
                                {% if not loop.last %}
                                    <span>, </span>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                </div>

                {% if checkParticipant == false %}
                    <div class="d-flex justify-content-center">
                        <form action="{{ path('app_ensemble_join', {'id': ensemble.id}) }}" method="post" onsubmit="return confirm('Are you sure you want join the group?');">
                            <button type="submit" class="btn btn-sm btn-outline-primary ml-2"><i class="material-icons">arrow_forward</i> {% trans %}Join the group{% endtrans %}</button>
                        </form>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-end">
                        {% if ensemble.author.id != app.user.id %}
                            <form action="{{ path('app_ensemble_leave', {'id': ensemble.id}) }}" method="post" onsubmit="return confirm('Are you sure you want leave the group?');">
                                <button type="submit" class="btn btn-sm btn-outline-danger ml-2">
                                    <i class="material-icons">arrow_back</i> {% trans %}Leave the group{% endtrans %}
                                </button>
                            </form>
                        {% else %}
                            <a href="{{ path('app_ensemble_edit', {'id': ensemble.id}) }}" ><i class="material-icons">edit</i> {% trans %}Edit{% endtrans %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Page Header -->
        <div class="page-header row no-gutters pl-3 pb-3 pt-3">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">{% trans %}All{% endtrans %}</span>
                <h3 class="page-title mb-2">{% trans %}Group public records{% endtrans %}</h3>
            </div>
        </div>

        <div class="row px-2">
            {% for event in events %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card card-small card-post card-post--1 h-100">
                        <div class="card-post__image"
                             style="background-image: url('/cpanel/images/events/{{ event.image }}');">
                            <div class="card-post__author d-flex">
                                <a href="{{ path('app_users_user', {'id': event.user.id}) }}" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/cpanel/profile/uploads/images/{{ event.user.image }}');">Written by {{ event.user.firstname }} {{ event.user.lastname }}</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-fiord-blue" href="{{ path('app_ensemble_event_show', {'id': event.id}) }}">{{ event.title }}</a>
                            </h5>
                            <p class="card-text">
                                {% if event.description|length > 155 %}
                                    {{ event.description|slice(0, 155) ~ '...' }}
                                {% else %}
                                    {{ event.description }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer text-muted border-top py-3">
                            <span>
                                {% trans %}Author{% endtrans %}:
                                <a href="{{ path('app_ensemble_user', {'id': event.user.id, 'ensemble': ensemble.id}) }}">{{ event.user.username }}</a>
                            </span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="ml-4">{% trans %}No records found{% endtrans %}</div>
            {% endfor %}
            {# Отображение пагинации #}
            <div class="container">
                <div class="d-flex justify-content-center pagination mt-2 mb-5">
                    <div class="pagination">
                        {{ pagerfanta(events, 'default') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

