{% extends 'cpanel/_layouts/app.html.twig' %}

{% block title %}Blank index{% endblock %}

{% block body %}
    <!-- Page Header -->
    <div class="main-content-container container-fluid">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">{% trans %}Section{% endtrans %}</span>
                <h3 class="page-title">{% trans %}Recommendations{% endtrans %}</h3>
            </div>
        </div>
        <div class="row px-2">
            {% for blank in blanks %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card card-small card-post h-100">
                        <div class="card-post__image" style="background-image: url('/cpanel/images/blanks/{{ blank.image }}');"></div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-fiord-blue" href="{{ path('app_blank_edit', {'id': blank.id}) }}">{{ blank.title }}</a>
                            </h5>
                            <p class="card-text">
                                {% if blank.description|length > 155 %}
                                    {{ blank.description|slice(0, 155) ~ '...' }}
                                {% else %}
                                    {{ blank.description }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer text-muted border-top py-3 text-right">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_blank_show', {'id': blank.id}) }}"> {% trans %}Open{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>{% trans %}No records found{% endtrans %}</div>
            {% endfor %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <!-- ADD FLOATING BUTTON -->
        <div class="devstyle-floating-button" onclick="location.href='{{ path('app_blank_new') }}'"> +</div>
    {% endif %}

{% endblock %}
